body {
    background-color: rgb(51, 53, 68);
    
}

h1 {
    
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    text-align: center;
    color: rgb(255, 255, 255);

}

ul {
    text-align: center;
    color: rgb(255, 255, 255);
}

button {
    background-color: rgb(51, 53, 68);
    border: 2px;
    border-radius: calc(100% - 40%);
    border-style: solid;
    border-color: black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

a:link {
    color:rgb(145, 3, 97);
    background-color: transparent;
    text-decoration: none;
    
  }

  a:visited {
    color:rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }